
.App-logo {
  height: 43vmin;
  pointer-events: none;
}

.App {
  text-align: center;
}

.App-link {
  color: #57ccec;
}




@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #2e61c8;
  min-height: 107vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(13px + 3vmin);
  color: rgb(255, 251, 9);
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
